{% extends "base.html" %}

{% block content %}
            <div class="u-flex u-center">
                <img src="https://raw.githubusercontent.com/Spiderpig86/Cirrus/master/img/CirrusLogo.png" class="logo" />
            </div>
            <h3><span></span>Hello {{name}}<span class="info text-primary uppercase">For Cirrus</span></h3>
            <p>⚡ Learn, explore, and test out the framework right within your browser.</p>
            <p>This editor supports a couple of features including:</p>
            <ul>
                <label for=dupa>hehe</label>
                <input type=text name=dupa>
                <li>Resizable panes, view presets, and editor orientation.</li>
                <li>Previews with older versions of Cirrus to test for compatibility.</li>
            </ul>

            <div class="divider"></div>
            <div class="u-flex u-justify-flex-end">
                <a href="http://cirrus-ui.netlify.app/getting-started/setup" target="_blank">
                    <button class="btn-info outline">Read the Docs</button>
                </a>
            </div>
            <div class="space"></div>
{% endblock content %}
